$primary: #F4F3EE;
$light: $primary;
$danger: #C32C72;
$background-colour: #E5E5E5;
$heading-colour: #463F3A;
$background-dark: rgba(0,0,0,0.5);
$navbar-light-color: #8D8D8D;
$navbar-light-active-color: #C32C72;
$navbar-light-brand-color:#262626;
$border-radius-lg: 10%;
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Archivo Narrow", sans-serif;
$heading-colour: #463F3A;
$card-height: 200px;

