body, 
html{
    height: 100%;
}   
    
body{
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    color: $heading-colour;
    background-color: $background-colour;
}

footer{
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: $primary;
    padding: 0.5em;
    color: $navbar-light-color;
    margin-top: 2rem;
    font-size: 0.8em;

    @media only screen and (max-width: 300px){
        flex-direction: column;
        text-align: center;
    }
}

.wrapper{
    flex: 1 0 auto;
}


